<ion-card>
  <ion-card-content >
    <ion-input #nom name="nom" 
              label-placement="floating" 
              label="nom ingrédient"
              type="text"
              >
    </ion-input>
  </ion-card-content>
  
  <ion-card-content>
    <ion-input #quantite name="quantite" 
              label-placement="floating" 
              label="quantite"
              type="text"
              >
    </ion-input>
  </ion-card-content>
  <ion-card-content>
    <ion-input #unite name="unite" 
              label-placement="floating" 
              label="unite"
              type="text"
              >
    </ion-input>
    <ion-button (click)="addIngredient(unite.value, quantite.value, nom.value)">ajouter ingredient</ion-button>
  </ion-card-content>
</ion-card>

